In [1]:
import requests

In [2]:
standings_url = "https://www.basketball-reference.com/awards/awards_{}.html"

In [3]:
years = list(range(2005, 2026))

In [4]:
for year in years:
    url = standings_url.format(year)
    data = requests.get(url)

    with open("MVPS/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [5]:
from bs4 import BeautifulSoup

In [6]:
import pandas as pd

In [7]:
tables = []
for year in years:
    with open("MVPS/{}.html".format(year)) as f:
        page = f.read()
    parser = BeautifulSoup(page, "html.parser")
    useless = parser.find('tr', class_ = "over_header")
    if useless is not None:
        useless.decompose()
    table = parser.find(id = "mvp")
    data = pd.read_html(str(table))[0]
    data["year"] = year
    tables.append(data)

/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/1636379513.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]

In [8]:
mvps = pd.concat(tables)

In [9]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,year
0,1,Steve Nash,30,PHO,65,1066,1270,0.839,75,34.3,...,3.3,11.5,1.0,0.1,0.502,0.431,0.887,10.9,0.203,2005
1,2,Shaquille O'Neal,32,MIA,58,1032,1270,0.813,73,34.1,...,10.4,2.7,0.5,2.3,0.601,NaN,0.461,11.0,0.211,2005
2,3,Dirk Nowitzki,26,DAL,0,349,1270,0.275,78,38.7,...,9.7,3.1,1.2,1.5,0.459,0.399,0.869,15.6,0.248,2005
3,4,Tim Duncan,28,SAS,1,328,1270,0.258,66,33.4,...,11.1,2.7,0.7,2.6,0.496,0.333,0.670,11.2,0.245,2005
4,5,Allen Iverson,29,PHI,2,240,1270,0.189,75,42.3,...,4.0,7.9,2.4,0.1,0.424,0.308,0.835,9.0,0.136,2005

In [10]:
mvps["Player"] = mvps["Player"].str.replace("Ä", "ć", regex = False)
mvps["Player"] = mvps["Player"].str.replace("Ä", "č", regex = False)
mvps["Player"] = mvps["Player"].str.replace("Luka Donćić", "Luka Dončić", regex = False)
mvps["Player"] = mvps["Player"].str.replace("Nikola Jokić", "Nikola Jokić", regex = False)

In [11]:
import selenium

In [12]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service = service, options = options)

In [13]:
import time
driver.set_page_load_timeout(120)

for year in years:
    url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html".format(year)
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)
    
    html = driver.page_source
    with open("All_Players/{}.html".format(year), "w+") as f:
        f.write(html)

In [14]:
All_player_lst = []
for year in years:
    with open("All_Players/{}.html".format(year)) as f:
        page = f.read()
    parser = BeautifulSoup(page, "html.parser")
    parser.find('tr', class_ = "thead").decompose()
    table = parser.find(id = "switcher_per_game_stats")
    data = pd.read_html(str(table))[0]
    data["year"] = year
    All_player_lst.append(data)

/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/4118751148.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]

In [15]:
player_stats = pd.concat(All_player_lst)

In [16]:
player_stats.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,year
0,1,Allen Iverson,29,PHI,PG,75,75,42.3,10.3,24.2,...,3.3,4.0,7.9,2.4,0.1,4.6,1.9,30.7,"MVP-5,DPOY-11,AS,NBA1",2005
1,2,Kobe Bryant,26,LAL,SG,66,66,40.7,8.7,20.1,...,4.5,5.9,6.0,1.3,0.8,4.1,2.6,27.6,"AS,NBA3",2005
2,3,LeBron James,20,CLE,SF,80,80,42.4,9.9,21.1,...,6.0,7.4,7.2,2.2,0.7,3.3,1.8,27.2,"MVP-6,AS,NBA2",2005
3,4,Dirk Nowitzki,26,DAL,PF,78,78,38.7,8.5,18.5,...,8.5,9.7,3.1,1.2,1.5,2.3,2.8,26.1,"MVP-3,AS,NBA1",2005
4,5,Amar'e Stoudemire,22,PHO,C,80,80,36.1,9.3,16.7,...,6.2,8.9,1.6,1.0,1.6,2.4,3.5,26.0,"MVP-9,AS,NBA2",2005

In [17]:
del player_stats["Rk"]

In [18]:
player_stats["Player"] = player_stats["Player"].str.replace("*", "", regex = False)

In [19]:
player_stats = player_stats[player_stats["Player"] != "Player"]

In [20]:
def breaker(group):
    if len(group) == 1:
        return group
    elif "2TM" in group["Team"].values:
        return group[group["Team"] == "2TM"]
    else:
        return group.iloc[[0]]
player_stats = player_stats.groupby(["Player", "year"]).apply(breaker)

/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/3716315400.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  player_stats = player_stats.groupby(["Player", "year"]).apply(breaker)

In [21]:
player_stats.head()

                             Player Age Team Pos   G GS    MP   FG  FGA   FG%  \
Player       year
A.J. Green   2023 519    A.J. Green  23  MIL  SG  35  1   9.9  1.5  3.6  .424
             2024 494    A.J. Green  24  MIL  SG  56  0  11.0  1.5  3.5  .423
             2025 353    A.J. Green  25  MIL  SG  73  7  22.7  2.5  5.8  .429
A.J. Hammons 2017 572  A.J. Hammons  24  DAL   C  22  0   7.4  0.8  1.9  .405
A.J. Lawson  2023 566   A.J. Lawson  22  2TM  SG  15  0   7.2  1.5  2.9  .500

                       ...  DRB  TRB  AST  STL  BLK  TOV   PF  PTS Awards  \
Player       year      ...
A.J. Green   2023 519  ...  1.1  1.3  0.6  0.2  0.0  0.3  0.9  4.4    NaN
             2024 494  ...  1.0  1.1  0.5  0.2  0.1  0.2  0.9  4.5    NaN
             2025 353  ...  2.1  2.4  1.5  0.5  0.1  0.5  2.2  7.4    NaN
A.J. Hammons 2017 572  ...  1.3  1.6  0.2  0.0  0.6  0.5  1.0  2.2    NaN
A.J. Lawson  2023 566  ...  1.0  1.4  0.1  0.1  0.0  0.2  0.7  3.7    NaN

                       year
Player       year
A.J. Green   2023 519  2023
             2024 494  2024
             2025 353  2025
A.J. Hammons 2017 572  2017
A.J. Lawson  2023 566  2023

[5 rows x 31 columns]

In [22]:
player_stats.index = player_stats.index.droplevel()

In [23]:
player_stats.index = player_stats.index.droplevel()

In [24]:
mvps = mvps[["Player", "Pts Won", "Share", "year"]]

In [25]:
player_stats = player_stats.reset_index(drop=True)
mvps = mvps.reset_index(drop=True)

Total = pd.merge(player_stats, mvps, on=["Player", "year"], how="left")

In [26]:
Total.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Awards,year,Pts Won,Share
0,A.J. Green,23,MIL,SG,35,1,9.9,1.5,3.6,.424,...,0.6,0.2,0.0,0.3,0.9,4.4,NaN,2023,NaN,NaN
1,A.J. Green,24,MIL,SG,56,0,11.0,1.5,3.5,.423,...,0.5,0.2,0.1,0.2,0.9,4.5,NaN,2024,NaN,NaN
2,A.J. Green,25,MIL,SG,73,7,22.7,2.5,5.8,.429,...,1.5,0.5,0.1,0.5,2.2,7.4,NaN,2025,NaN,NaN
3,A.J. Hammons,24,DAL,C,22,0,7.4,0.8,1.9,.405,...,0.2,0.0,0.6,0.5,1.0,2.2,NaN,2017,NaN,NaN
4,A.J. Lawson,22,2TM,SG,15,0,7.2,1.5,2.9,.500,...,0.1,0.1,0.0,0.2,0.7,3.7,NaN,2023,NaN,NaN

In [27]:
Total = Total[Total["Team"] != "2TM"]
Total = Total[Total["Team"] != "3TM"]
Total = Total[Total["Team"] != "5TM"]
Total = Total[Total["Team"] != "4TM"]

In [28]:
Total[["Pts Won", "Share"]] = Total[["Pts Won", "Share"]].fillna(0)

In [29]:
Total["3P"] = Total["3P"].astype(float)

In [30]:
Total = Total[Total["Player"] != "League Average"]

In [31]:
team_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [99]:
for year in years:
    url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html".format(year)
    data = requests.get(url)
    
    with open("TEAMS/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [97]:
years

[2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025]

In [101]:
east = []
for year in years:
    with open("TEAMS/{}.html".format(year)) as f:
        page = f.read()
    parser = BeautifulSoup(page, "html.parser")
    parser.find('tr', class_ = "thead").decompose()
    table = parser.find(id = "divs_standings_E")
    data = pd.read_html(str(table))[0]
    data["year"] = year
    east.append(data)
west = []
for year in years:
    with open("TEAMS/{}.html".format(year)) as f:
        page = f.read()
    parser = BeautifulSoup(page, "html.parser")
    parser.find('tr', class_ = "thead").decompose()
    table = parser.find(id = "divs_standings_W")
    data = pd.read_html(str(table))[0]
    data["year"] = year
    west.append(data)

/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/var/folders/n0/sdjwml3911b_dvhdq5nwb2cw0000gn/T/ipykernel_69539/340892230.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]

In [103]:
team_stats_W = pd.concat(west)
team_stats_E = pd.concat(east)

In [105]:
team_stats_W.rename(columns={"Western Conference": "Team"}, inplace=True)
team_stats_E.rename(columns={"Eastern Conference": "Team"}, inplace=True)

In [107]:
team_stats = pd.concat([team_stats_W, team_stats_E])

In [113]:
team_stats.head()

,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,year
0,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,2005
1,Seattle SuperSonics*,52,30,.634,—,98.9,96.6,2.59,2005
2,Denver Nuggets*,49,33,.598,3.0,99.5,97.5,2.23,2005
3,Minnesota Timberwolves,44,38,.537,8.0,96.8,95.3,1.73,2005
4,Portland Trail Blazers,27,55,.329,25.0,92.9,96.9,-3.45,2005

In [115]:
team_stats = team_stats[~team_stats.Team.str.contains("Division")]

In [117]:
team_stats["Team"] = team_stats["Team"].str.replace("*", "", regex = False)

In [119]:
team_stats = team_stats.rename(columns={"Team": "Name"})

In [121]:
team_stats.head()

                     Name   W   L  W/L%    GB  PS/G  PA/G    SRS  year
1     Seattle SuperSonics  52  30  .634     —  98.9  96.6   2.59  2005
2          Denver Nuggets  49  33  .598   3.0  99.5  97.5   2.23  2005
3  Minnesota Timberwolves  44  38  .537   8.0  96.8  95.3   1.73  2005
4  Portland Trail Blazers  27  55  .329  25.0  92.9  96.9  -3.45  2005
5               Utah Jazz  26  56  .317  26.0  93.0  97.3  -3.74  2005

In [151]:
team_stats['Name'] = team_stats['Name'].str.replace(r"\s*\(.*?\)", "", regex=True)

In [153]:
team_stats[team_stats["year"] == 2025]

                      Name   W   L  W/L%    GB   PS/G   PA/G     SRS  year
1    Oklahoma City Thunder  68  14  .829     —  120.5  107.6   12.70  2025
2           Denver Nuggets  50  32  .610  18.0  120.8  116.9    3.97  2025
3   Minnesota Timberwolves  49  33  .598  19.0  114.3  109.3    5.15  2025
4   Portland Trail Blazers  36  46  .439  32.0  110.9  113.9   -2.67  2025
5                Utah Jazz  17  65  .207  51.0  111.9  121.2   -8.51  2025
7       Los Angeles Lakers  50  32  .610     —  113.4  112.2    1.45  2025
8     Los Angeles Clippers  50  32  .610     —  112.9  108.2    4.84  2025
9    Golden State Warriors  48  34  .585   2.0  113.8  110.5    3.56  2025
10        Sacramento Kings  40  42  .488  10.0  115.7  115.3    0.58  2025
11            Phoenix Suns  36  46  .439  14.0  113.6  116.6   -2.55  2025
13         Houston Rockets  52  30  .634     —  114.3  109.8    4.97  2025
14       Memphis Grizzlies  48  34  .585   4.0  121.7  116.9    4.79  2025
15        Dallas Mavericks  39  43  .476  13.0  114.2  115.4   -0.74  2025
16       San Antonio Spurs  34  48  .415  18.0  113.9  116.7   -2.45  2025
17    New Orleans Pelicans  21  61  .256  31.0  109.8  119.3   -8.59  2025
0           Boston Celtics  61  21  .744     —  116.3  107.2    8.28  2025
1          New York Knicks  51  31  .622  10.0  115.8  111.7    3.59  2025
2          Toronto Raptors  30  52  .366  31.0  110.9  115.2   -4.40  2025
3            Brooklyn Nets  26  56  .317  35.0  105.1  112.2   -6.95  2025
4       Philadelphia 76ers  24  58  .293  37.0  109.6  115.8   -6.29  2025
6      Cleveland Cavaliers  64  18  .780     —  121.9  112.4    8.81  2025
7           Indiana Pacers  50  32  .610  14.0  117.4  115.1    1.68  2025
8          Milwaukee Bucks  48  34  .585  16.0  115.5  113.0    2.12  2025
9          Detroit Pistons  44  38  .537  20.0  115.5  113.6    1.73  2025
10           Chicago Bulls  39  43  .476  25.0  117.8  119.4   -1.83  2025
12           Orlando Magic  41  41  .500     —  105.4  105.5   -0.70  2025
13           Atlanta Hawks  40  42  .488   1.0  118.2  119.3   -1.41  2025
14              Miami Heat  37  45  .451   4.0  110.6  110.0    0.11  2025
15       Charlotte Hornets  19  63  .232  22.0  105.1  114.2   -9.10  2025
16      Washington Wizards  18  64  .220  23.0  108.0  120.4  -12.14  2025

In [123]:
data = pd.read_csv("NBA_Team_Abbreviations.csv")

In [125]:
data.head()

  Abbreviation               Name
0          ATL      Atlanta Hawks
1          BRK      Brooklyn Nets
2          BKN      Brooklyn Nets
3          BOS     Boston Celtics
4          CHA  Charlotte Bobcats

In [127]:
data = data.rename(columns={"Abbreviation": "Team"})

In [155]:
update = pd.merge(Total, data, on = ["Team"], how = "left")

In [157]:
update[update["year"] == 2025]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,year,Pts Won,Share,Name
2,A.J. Green,25,MIL,SG,73,7,22.7,2.5,5.8,.429,...,0.5,0.1,0.5,2.2,7.4,NaN,2025,0.0,0.0,Milwaukee Bucks
5,A.J. Lawson,24,TOR,SG,26,2,18.7,3.1,7.3,.421,...,0.5,0.2,0.6,1.7,9.1,NaN,2025,0.0,0.0,Toronto Raptors
29,Aaron Gordon,29,DEN,PF,51,42,28.4,5.2,9.7,.531,...,0.5,0.3,1.4,1.6,14.7,NaN,2025,0.0,0.0,Denver Nuggets
44,Aaron Holiday,28,HOU,PG,62,3,12.8,1.9,4.3,.437,...,0.3,0.2,0.6,1.0,5.5,NaN,2025,0.0,0.0,Houston Rockets
54,Aaron Nesmith,25,IND,SF,45,37,25.0,4.3,8.4,.507,...,0.8,0.4,0.8,2.5,12.0,NaN,2025,0.0,0.0,Indiana Pacers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9024,Zach Edey,22,MEM,C,66,55,21.5,3.8,6.6,.580,...,0.5,1.3,1.3,2.8,9.2,NaN,2025,0.0,0.0,Memphis Grizzlies
9070,Zeke Nnaji,24,DEN,PF,57,4,10.7,1.2,2.5,.496,...,0.4,0.7,0.2,1.1,3.2,NaN,2025,0.0,0.0,Denver Nuggets
9079,Ziaire Williams,23,BRK,SF,63,45,24.5,3.4,8.3,.412,...,1.0,0.4,1.1,2.4,10.0,NaN,2025,0.0,0.0,Brooklyn Nets
9084,Zion Williamson,24,NOP,PF,30,30,28.6,9.6,16.9,.567,...,1.2,0.9,3.0,2.7,24.6,NaN,2025,0.0,0.0,New Orleans Pelicans
9096,Zyon Pullin,23,MEM,SG,3,0,1.0,0.0,0.3,.000,...,0.0,0.0,0.0,0.0,0.0,NaN,2025,0.0,0.0,Memphis Grizzlies

In [159]:
final = pd.merge(update, team_stats, on = ["Name", "year"], how = "left")

In [163]:
final.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Share,Name,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.J. Green,23,MIL,SG,35,1,9.9,1.5,3.6,.424,...,0.0,0.0,Milwaukee Bucks,58,24,.707,—,116.9,113.3,3.61
1,A.J. Green,24,MIL,SG,56,0,11.0,1.5,3.5,.423,...,0.0,0.0,Milwaukee Bucks,49,33,.598,—,119.0,116.4,2.44
2,A.J. Green,25,MIL,SG,73,7,22.7,2.5,5.8,.429,...,0.0,0.0,Milwaukee Bucks,48,34,.585,16.0,115.5,113.0,2.12
3,A.J. Hammons,24,DAL,C,22,0,7.4,0.8,1.9,.405,...,0.0,0.0,Dallas Mavericks,33,49,.402,28.0,97.9,100.8,-2.53
4,A.J. Lawson,23,DAL,SG,42,0,7.4,1.3,2.9,.446,...,0.0,0.0,Dallas Mavericks,50,32,.610,—,117.9,115.6,2.30

In [165]:
final.to_csv("complete_data.csv")